---
interface Props {
  name: string;
  category: "programming" | "security" | "tools" | "os" | "methodology";
}

const { name, category } = Astro.props;

// Apply different colors based on skill category
const getCategoryStyles = (category: string) => {
  switch (category) {
    case "Defense":
      return "bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300";
    case "offsecurity":
      return "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300";
    case "Language":
      return "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300";
    case "os":
      return "bg-purple-100 text-purple-800 dark:bg-purple-900 dark:text-purple-300";
    case "methodology":
      return "bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300";
    default:
      return "bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-300";
  }
};

const badgeClass = getCategoryStyles(category);
---

<div class={`p-3 rounded-lg ${badgeClass} flex items-center justify-center`}>
  <span class="font-medium text-center">{name}</span>
</div>